{%extends 'base.html' %}

{% block head %}
<title>Add or Modify Item</title>
{% endblock %}
<br>
<a href="/">Return to Main</a>
<br>
<a href="/seller">Return to Seller</a>

{% block body %}

    <div class="container">
      <h1>Add or Modify Item</h1>
      <form action="" method="post">
    <input type="number" placeholder="Product ID" name="product_ID" value="{{
          request.form.product_ID }}"required/>
          <br>
    <input type="text" placeholder="Product Name" name="product_Name" value="{{
          request.form.product_Name }}"required/>
            <br>
    <input type="text" placeholder="Brand" name="brand" value="{{
              request.form.brand }}"required/>
                <br>
    <select name = "category">
            <option value = "Appliances" name = "appliances"> Appliances </option>
            <option value = "Books" name = "books"> Books </option>
            <option value =  "Clothing Shoes and Jewelry" name = "clothing shoes and jewelry">
                Clothing Shoes and Jewelry</option>
            <option value = "Electronics" name = "electronics"> Electronics</option>
            <option value = "Home and Kitchen" name = "home and kitchen"> Home and Electronics</option>
    </select>
            <br>
    <input type="money" placeholder="Price" name="price" value="{{
            request.form.price }}"required/>
              <br>
    <input type="text" placeholder="Feature" name="feature" value="{{
                request.form.feature }}"required/>
                  <br>
    <input type="image" placeholder="Image" name="image" value="{{
                    request.form.image }}"required/>
                      <br>
    <input type="text" placeholder="Description" name="description" value="{{
                        request.form.description }}"required/>
                        <br>
    <input type="text" placeholder="Inventory" name="inventory" value="{{
          request.form.inventory }}"required/>
            <br>
        <input class="btn btn-default" type="submit" value="Add/Modify">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}
