{%extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h3 id="msgtext">Current Balance: {{ balance }}</h3>
<div style="font-family: Helvetica, sans-serif; margin-left: 40px;">
    <form method = "post" action="update_balance">
        <input type="number" step="0.01" name="added_amt" placeholder = "Amount to add to balance">
        <input type="hidden" name="balance" value={{ balance }}>
        <button type="submit" value="Update">Update</button>
    </form>
</div>
<h3 id="msgtext">{{ msg }}</h3>
{% endblock %}