<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
  {% block content %}
  <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <!--button type="button" class="close" data-dismiss="alert">&times;</button-->
          {{ message }}
      </div>
      {% endfor %}
      {% block page_content %}{% endblock %}
  </div>
  {% endblock %}
<header id="main-header">
    <div class="container">
        <div class = "left-column-1">
            <h1>Amazon 31</h1>
        </div>

        <div class = "right-column-wide">
            <form id="searchbar" action="/searchresults" method="post">
                <select id="categories" name="categorydropdown">
                    <option value="Categories" selected>Categories</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Books">Books</option>
                    <option value="Clothing Shoes and Jewelry">Clothing Shoes and Jewelry</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Home and Kitchen">Home and Kitchen</option>
                </select>
                <input type="hidden" name="username" value="{{ session["username"] }}">
                <input type="text" name="search_query" placeholder = "Search products">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</header>

<nav id="navbar">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cart">Cart</a></li>
            <div style="float:right">
                <div>
                    <!--li><a href="/user">User</a></li-->
                    <div class="dropdown">
                        <span>User &#9662&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <!---button class="dropbtn">User</button--->
                        <div class="dropdown-content">
                            <a href="/user">View Profile</a>
                            <a href="/editUser">Edit User Profile</a>
                            {% if session["user_type"] == 1 %}
                                <a href="/tradeHistory">Trade History</a>
                                <a href="/seller">Selling List</a>
                                <a href="/addModifyItem">Add/Modify Sold Items</a>
                            {% endif %}
                            {% if session["user_type"] == 0 %}
                                <a href="/purchasehistory">Purchase History</a>
                            {% endif %}
                            <a href="/balance">Add Balance</a>
                            {% if session["logged_in"] == 0 %}
                                <a href="/login">Log In</a>
                            {% endif %}
                            <a href="/signup">Sign Up</a>
                            {% if session["logged_in"] == 1 %}
                                <a href="/logout">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</nav>

<section>
    {% block body %}{% endblock %}
</section>

</body>

<style>
.dropdown {
  float: right;
  overflow: hidden;
  font-size: 18px;
}

.dropdown {
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: #0e152e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 12px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  font-size: 12px;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  font-size: 12px;
  display: block;
}
</style>

<a>
    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            color: #232f3e;
            text-decoration: none;
        }

        a:hover {
            color: #fa0;
            text-decoration: underline;
        }
    </style>
</a>

</html>
