{%extends 'base.html' %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block body %}
<table class="mytable">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Seller</th>
        <th>Unit Price</th>
        <th>Quantity in Cart</th>
        <th>Quantity Available</th>
        <th>Cost</th>
        <th width="180px">Functions</th>
    </tr>

    {% for row in rows %}
        <tr>
            <td><a href="{{ row["image"] }}">
                <img src ="{{ row["image"] }}" class="tableimg"/></a></td>
            <td><a href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a></td>
            <td>{{ row["seller"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["quantity"] }}</td>
            <td>{{ row["inventory"] }}</td>
            <td>{{ row["cost"] }}</td>
            <td>
                <form method = "post">
                    <input type="hidden" name="item_order_ID" value={{ row["item_order_ID"] }}>
                    <input type="number" class="tablequantitybox" name="quantity" value={{ row["quantity"] }}>
                    <button type="submit" class="tablebutton" value="Update" formaction="update_item">Update</button>
                    <button type="submit" class="tablebutton" value="Delete" formaction="remove_item">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>Total Cost:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ total_cost }}</td>
        <td colspan="4">
            <div style="float: left">
                {% if cart_ID != "-1" %}
                    <form method = "post" action="purchase_cart">
                        <input type="hidden" name="cart_ID" value={{ cart_ID }}>
                        <input type="hidden" name="total_cost" value={{ total_cost }}>
                        <button type="submit" class="tablebutton" value="Purchase">Purchase</button>
                    </form>
                {% endif %}
            </div>
        </td>
    </tr>
</table>
<br><br>
<h3 id="msgtext">{{ msg }}</h3>
{% endblock %}