{%extends 'base.html' %}

{% block head %}
<title>Edit User Information</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
       {% for message in messages %}
        <div class="message_flash">{{ message }}</div>
       {% endfor %}
   </ul>
 {% endif %}
  {% endwith %}

{% block body %}

    <div class="container">
      <h1> Edit User Information </h1>
      <form action="editUser" method="post">

        <h4> Basic Information: </h4>
                <!-- {% for item in userProf %} -->
                <p style="margin-left: 30px">
                Username: <br><input type="text" placeholder="Username" name="username" value="{{ userProf[0][1] }}"required/>
                      <br>
                First Name: <br><input type="text" placeholder="First name" name="firstName" value="{{
                   userProf[0][2]  }}"required/>
                        <br>
                Last Name: <br> <input type="text" placeholder="Last Name" name="lastName" value="{{
                          userProf[0][3] }}"required/>
                            <br>
              Email: <br>  <input type="email" placeholder="Email" name="email" value="{{
                      userProf[0][4] }}"required/>
                        <br>
                Street Address: <br> <input type="text" placeholder="Street Address" name="streetAddress" value="{{
                        userProf[0][8] }}"required/>
                          <br>
                City: <br><input type="text" placeholder="City" name="city" value="{{
                            userProf[0][9] }}"required/>
                              <br>
                Postal Code: <br><input type="text" placeholder="Postal Code" name="zip" value="{{
                                userProf[0][10] }}"required/>
                                  <br>
              State: <br>  <input type="text" placeholder="State" name="state" value="{{
                                    userProf[0][11] }}"required/>
                                    <br>
              <!--{% endfor %}-->
              {% if error1 %}
                <p class="error"><strong></strong> {{ error1 }}
              {% endif %}
</p>
        <h4> Change Password (or leave blank): </h4>
        <p style="margin-left: 30px">

         Old Password: <br><input type="password" placeholder="Old Password" name="oldPassword" value="">
            <br>
          New Password:<br>  <input type="password" placeholder="New Password" name="newPassword" value="">
               <br>
          Repeat New Password: <br>   <input type="password" placeholder="Repeat New Password" name="newPassword2" value="">
                <br>

        {% if error2 %}
          <p class="error"><strong></strong> {{ error2 }}
        {% endif %}
</p>

<input class="btn btn-default" type="submit" name = "submit" value="Save Changes">
<input type="reset" name = "reset" value = "reset">

      </form>

    </div>
{% endblock %}
