{%extends 'base.html' %}

{% block head %}
<title>Forget Password</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}

    <div class="container">
      <h1>Enter your email:</h1>

      <form action="forgetPassword" method="post">

        <input type="email" placeholder="Email" name="email" value="{{ request.form.email }}"required/>
          <br>
<br>
        <input class="btn btn-default" type="submit" value="Send">
      </form>
      <br>
      {% if error %}
        <p class="error"><strong></strong> {{ error }}
      {% endif %}
        <br>
        <br>

        <span>Don't have an account? <a href="/signup">Sign up
        </a></span>
        <br>
        <span>Log in? <a href="/login">Log in
        </a></span>
        <br>
        <span>Already have a secret key? <a href="/resetPassword">Reset Password
        </a></span>
        </br>
    </div>


{% endblock %}
