{%extends 'base.html' %}

{% block head %}
    <title>Home</title>
    <style>
        body {
            background-image: url('https://assets.aboutamazon.com/dims4/default/f81ddb5/2147483647/strip/true/crop/1421x800+289+0/resize/1320x743!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F3e%2Fca%2Fcde98b734fe3b855d9959894f051%2F1109274-events-onsite-holidayall-gifthub-505-main-so.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="text-align:center;font-size:250%;color:#0e152e;">Welcome to Amazon!</h1>
    <h3 style="font-size:150%;color:#0e152e;position:absolute;top:65%;left:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);">Here are your top recommendations:</h3>
    <br>
    <table border=0 style="position:absolute;top:85%;left:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);">

    <tr>
    {% for row in rows %}
             <td style="padding:25px;text-align:center;width:300px;height:100px;overflow:hidden;color:#232f3e;">
                 {% if row["category"] == "Appliances" %}
                    <img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:75px;height:75px;">
                    <br>
                     <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a>
                 {% elif row["category"] == "Books" %}
                    <img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:75px;height:75px;">
                    <br>
                    <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a>
                 {% elif row["category"] == "Home and Kitchen" %}
                    <img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:75px;height:75px;">
                    <br>
                    <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a>
                 {% elif row["category"] == "Electronics" %}
                    <img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:75px;height:75px;">
                    <br>
                    <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a>
                 {% else %}
                    <img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:75px;height:75px;">
                    <br>
                    <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a>
                 {% endif %}
             <br>
             <form method = "post" action="add_to_cart">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                    <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Green_plus_icon.png" name="add" id="add"/>
             </form>
            </td>
    {% endfor %}
    </tr>
</table>
{% endblock %}
