{%extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            background-color: #f4f4f4;
            padding: 20px;
            margin-top: 20px;
        }

        .checked {
            color: #fa0;
        }

        .heading {
            margin-left: 25px;
        }
    </style>
    <title>Product Details</title>
{% endblock %}

{% block body %}
    <h1>
    <style>
        h1:hover {
            color: #fa0;
        }
    </style>
    </h1>
    <h3>
    <style>
        h3:hover {
            color: #fa0;
        }
    </style>
    </h3>

    {% for row in rows %}
        <h1 style="text-align:center";>{{ row["name"] }}</h1>
        <h3 style="text-align:center";>{{ row["brand"] }}</h3>
        <h3 style="text-align:center";>${{ row["price"] }}</h3>
    {% endfor %}
<table width="100%">
    <thead style="text-align:center;padding:25px;background-color:#0e152e;color:#fa0;">
        <td></td>
        <td><h3>Description</h3></td>
    </thead>
    {% for row in rows %}
        <tr>
            <td style="padding:50px;text-align:center;">
                 {% if row["category"] == "Appliances" %}
                    <img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:200px;height:200px;">
                 {% elif row["category"] == "Books" %}
                    <img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:200px;height:200px;">
                 {% elif row["category"] == "Home and Kitchen" %}
                    <img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:200px;height:200px;">
                 {% elif row["category"] == "Electronics" %}
                    <img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:200px;height:200px;">
                 {% else %}
                    <img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:200px;height:200px;">
                 {% endif %}
            <td style="padding:10px">{{ row["description"] }}</td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <form method = "post" action="add_to_cart">
                        <label for="quantity">Quantity: </label>
                        <input type="number" class="tablequantitybox" id="quantity" name="quantity" value=0>
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="250px" height = "125px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                </div>
            </td>
            <td></td>
        </tr>
    {% endfor %}
</table>
<div class="container">
<h1>
    Similar Items
</h1>
</div>
<table width = 100%>
<tr>
    {% for row in similarrows %}
            <td style="text-align:center;padding:25px;">
                 {% if row["category"] == "Appliances" %}
                    <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:100px;height:100px;"></a>
                     <br>
                    <form action = "/item?product_id={{row['product_id']}}" method = "GET">
                         <input type="hidden" name="product_ID" id="product_ID" value={{ row["product_ID"] }}>
                         <button type="submit" class="tablebutton" value="View">{{row["name"]}}</button>
                    </form>
                     <form method = "post" action="add_to_cart">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="150px" height="75px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                 {% elif row["category"] == "Books" %}
                    <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:100px;height:100px;"></a>
                    <br>
                    <form action = "/item?product_id={{row['product_id']}}" method = "GET">
                         <input type="hidden" name="product_ID" id="product_ID" value={{ row["product_ID"] }}>
                         <button type="submit" class="tablebutton" value="View">{{row["name"]}}</button>
                    </form>
                     <form method = "post" action="add_to_cart">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="150px" height="75px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                 {% elif row["category"] == "Home and Kitchen" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:100px;height:100px;"></a>
                    <br>
                    <form action = "/item?product_id={{row['product_id']}}" method = "GET">
                         <input type="hidden" name="product_ID" id="product_ID" value={{ row["product_ID"] }}>
                         <button type="submit" class="tablebutton" value="View">{{row["name"]}}</button>
                    </form>
                     <form method = "post" action="add_to_cart">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="150px" height="75px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                 {% elif row["category"] == "Electronics" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:100px;height:100px;"></a>
                    <br>
                    <form action = "/item?product_id={{row['product_id']}}" method = "GET">
                         <input type="hidden" name="product_ID" id="product_ID" value={{ row["product_ID"] }}>
                         <button type="submit" class="tablebutton" value="View">{{row["name"]}}</button>
                    </form>
                     <form method = "post" action="add_to_cart">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="150px" height="75px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                 {% else %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:100px;height:100px;"></a>
                    <br>
                    <form action = "/item?product_id={{row['product_id']}}" method = "GET">
                         <input type="hidden" name="product_ID" id="product_ID" value={{ row["product_ID"] }}>
                         <button type="submit" class="tablebutton" value="View">{{row["name"]}}</button>
                    </form>
                     <form method = "post" action="add_to_cart">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                        <input type="image" width="150px" height="75px" src="https://img2.pngio.com/yellow-add-to-cart-button-png-image-background-png-arts-add-to-cart-button-png-1200_628.png" name="add" id="add"/>
                    </form>
                 {% endif %}
            ${{ row["price"] }}
    {% endfor %}
</tr>
</table>
    <br>
    <div class="container">
        <h1>Reviews</h1>
    </div>

        {% for row in reviewrows %}
            <div class="container">
                <div class="card">
                    <h4>{{ row["username"] }}</h4>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 1 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 2 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 3 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 4 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 5 }}"></span>
                    <span class="heading">{{ row["summary"] }}</span>
                    <h5>Reviewed on {{ row["date_time"]}}</h5>
                    <p>{{ row["review"] }}</p>
                </div>
            </div>
        {% endfor %}

{% endblock %}
</html>