{%extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}
    <div class="container">
      <h1>Please login</h1>
      <br>

      <form action="login" method="post">

        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"required/>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"required/>
        <input class="btn btn-default" type="submit" value="Login">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      <br></br>
        <span>Don't have an account? <a href="/signup">Sign up
        </a></span>
        <br>
        <span>Don't remember password? <a href="/forgetPassword"> Forget password
        </a></span>
        </br>
    </div>
{% endblock %}
