{%extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h3 id="msgtext">Purchase History</h3>
<table class="mytable">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Seller</th>
        <th>Unit Price</th>
        <th>Quantity Purchased</th>
        <th>Remaining Inventory</th>
        <th>Cost</th>
        <th>Date/Time</th>
        <th>Functions</th>
    </tr>

    {% for row in rows %}
        <tr>
            <td><a href="{{ row["image"] }}">
                <img src ="{{ row["image"] }}" class="tableimg"/></a></td>
            <td><a href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a></td>
            <td>{{ row["seller"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["quantity"] }}</td>
            <td>{{ row["inventory"] }}</td>
            <td>{{ row["cost"] }}</td>
            <td>{{ row["date_time"] }}</td>
            <td>
                <form action="review" method = "post">
                    <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                    <button type="submit" class="tablebutton" value="Add Review" formaction="review">Add Review</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<br><br>
<h3 id="msgtext">{{ msg }}</h3>
{% endblock %}