{%extends 'base.html' %}

{% block head %}
<title>Reset Password</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}

    <div class="container">
      <h1>Enter your information:</h1>
      <form action="resetPassword" method="post">
        Email: <br>
        <input type="email" placeholder="Email" name="email" value="{{
          request.form.email }}"required>
          <br>
          Secret Key: <br>
          <input type="text" placeholder="Secret Key" name="skey" value = "{{
            request.form.skey }}" required/>
            <br>
            New Password: <br>
            <input type="password" placeholder="New Password" name="newPassword" value="">
               <br>
               Repeat New Password: <br>
             <input type="password" placeholder="Repeat New Password" name="newPassword2" value="">
                <br><br>
        <input class="btn btn-default" type="submit" value="Confirm">
      </form>
      {% if error %}
        <p class="error"><strong></strong> {{ error }}
      {% endif %}
      <br>
      <br>

        <span>Don't have an account? <a href="/signup">Sign up
        </a></span>
        <br>
        <span>Log in? <a href="/login">Log in
        </a></span>
        <br>
        <span>Don't have a secret key yet? <a href="/forgetPassword">Forget Password
        </a></span>
        </br>
    </div>


{% endblock %}
