{% extends 'base.html' %}

{% block head %}
    <title>Review Success</title>
{% endblock %}

{% block body %}
    <h1>Add Review Success</h1>
    <a href="/">Return to Main</a>
    <br>
    <a href="/purchasehistory">Review More Purchases</a>
    <br>
{% endblock %}