{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            background-color: #f4f4f4;
            padding: 20px;
            margin-top: 20px;
        }

        .checked {
            color: #fa0;
        }

        .heading {
            margin-left: 25px;
        }
    </style>
    <title>Rtest</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}

    <div class="container">
        <h1>Add Review {{ product_ID }}</h1>
        <form action="review" method="post">
            <input type="hidden" name="product_ID" value={{ product_ID }}>
            <button type="submit" value="addreview">Add Review</button>
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>

        {% for row in rows %}
            <div class="container">
                <div class="card">
                    <h4>{{ row["username"] }}</h4>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 1 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 2 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 3 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 4 }}"></span>
                    <span class="fa fa-star {{'checked' if row["rating"] >= 5 }}"></span>
                    <span class="heading">{{ row["summary"] }}</span>
                    <h5>Reviewed on {{ row["date_time"]}}</h5>
                    <p>{{ row["review"] }}</p>
                </div>
            </div>
        {% endfor %}
    </table>
{% endblock %}