{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .rev-sec
        {
            margin-right: 30%;
            margin-left: 30%;
            text-align: center;
            overflow:hidden;
        }

        .rev-sec input,button,textarea
        {
            width: 60%;
            align-content: center;
        }

        .rev-sec h3
        {
            margin-right: 10%;
            margin-left: 10%;
            padding-bottom: 15px;
        }
        .rating
        {
            margin: 10px;
            transform: translate(0%,-20%) rotateY(180deg);
            display: flex;
            justify-content: center;
            overflow: visible;
        }
        .rating input
        {
            display: none;
        }
        .rating label
        {
            display: block;
            cursor: pointer;
            width: 40px;
            background: #f4f4f4;
        }
        .rating label:before
        {
            content: '\f005';
            font-family: fontAwesome;
            position: relative;
            display: block;
            font-size: 40px;
            color: darkgray;
        }
        .rating label:after
        {
            content: '\f005';
            font-family: fontAwesome;
            position: absolute;
            display: block;
            font-size: 40px;
            color: orange;
            top: 0;
            opacity: 0;
            transition: .5s;
        }
        .rating label:hover:after,
        .rating label:hover ~ label:after,
        .rating input:checked ~ label:after
        {
            opacity: 1;
        }
    </style>
    <title>Create Review</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="msgtext">Create Review</h1>
        <br>
        <form action="addrev" method="post">
            <div class="rev-sec">
                <h3>Rating</h3>
                    <div class="rating">
                        <input type="radio" name="star" id="star1" value="star5"><label for="star1"></label>
                        <input type="radio" name="star" id="star2" value="star4"><label for="star2"></label>
                        <input type="radio" name="star" id="star3" value="star3"><label for="star3"></label>
                        <input type="radio" name="star" id="star4" value="star2"><label for="star4"></label>
                        <input type="radio" name="star" id="star5" value="star1"><label for="star5"></label>
                    </div>
            </div>
            <div class="rev-sec">
                <h3>Title</h3>
                <input type="text" placeholder="Title" name="summary">
            </div>
            <div class="rev-sec">
                <h3>Review</h3>
                <textarea style="font-family: Helvetica, sans-serif;" type="text" placeholder="Review" name="review"></textarea>
            </div>
            <input type="hidden" name="product_ID" value={{ product_ID }}>
            <br>
            <div class="rev-sec">
                <button type="submit" value="Add Review">Add Review</button>
            </div>
        </form>
    <br>
    <br>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}
