{%extends 'base.html' %}
{% block head %}
<title>Your Search Results</title>

{% endblock %}

{% block body %}
<tr>
    <style>
    tr:nth-child(even){background-color: #dcdcdc;}
    tr:hover {background-color:#c4c4c4;}
    </style>
</tr>
<table border = auto width = 100%>
    <thead style = "background-color: #232f3e;font-size: 18px;">
        <td></td>
        <td style="color:#fff;text-align:center;height:50px;">Item</td>
        <td style="color:#fff;text-align:center;height:50px;">Brand</td>
        <td style="color:#fff;text-align:center;height:50px;">Price</td>
        <td style="color:#fff;text-align:center;height:50px;">Description</td>
        <td style="color:#fff;text-align:center;height:50px;width:100px;">Add to Cart</td>
    </thead>

    {% for row in rows %}
        <tr>
             <td>
                 {% if row["category"] == "Appliances" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:100px;height:100px;"></a>
                 {% elif row["category"] == "Books" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:100px;height:100px;"></a>
                 {% elif row["category"] == "Home and Kitchen" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:100px;height:100px;"></a>
                 {% elif row["category"] == "Electronics" %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:100px;height:100px;"></a>
                 {% else %}
                     <a href="/item?product_ID={{ row['product_ID'] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:100px;height:100px;"></a>
                 {% endif %}
            </td>
            <td style = "padding: 25px;text-align: center;color: #232f3e;height:100px;">
                <a style="font-size: 15px;" href="/item?product_ID={{ row['product_ID'] }}">{{ row["name"] }}</a></td>
            <td style = "padding: 25px;text-align: center;color: #232f3e;">{{row["brand"]}}</td>
            <td style = "padding: 25px;text-align: center;color: #232f3e;">${{row["price"]}}</td>
            <td style = "padding-left: 25px;padding-right: 25px;text-align: center;width:500px;height:150px; display:block;overflow:hidden;color: #232f3e;">{{row["description"]}}</td>
            <td style = "padding: 25px;text-align: center;color: #232f3e;">
                <form method = "post" action="add_to_cart">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="product_ID" value={{ row["product_ID"] }}>
                    <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Green_plus_icon.png" name="add" id="add"/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
    <a href="/" style = "color: #232f3e">Return to Homepage</a><br><br>
<br><br>
{% endblock %}
