{% extends 'base.html' %}

{% block head %}
<title>Seller</title>
{% endblock %}

{% block body %}
    <a href="/">Return to Main</a><br><br>
    <a href="/addModifyItem">Add/Modify Item</a><br><br>
<h1>Seller {{ userid }} Information </h1>

<table border = 5>
    <thead>
        <td>user ID</td>
        <td>username</td>
        <td>name</td>
        <td>email</td>
        <td>address</td>
    </thead>
    {% for row in userProf %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
    </tr>
    {% endfor %}
</table>

<h1> Seller Items</h1>
<table border = 3>
  <thead>
      <td>Item Image</td>
      <td>Item Name</td>
      <td>Product ID</td>
      <td>Price</td>
      <td>Inventory</td>
      <td>Remove Item</td>
  </thead>
  {% for row in rows %}
  <tr>
      <td>
          {% if row["category"] == "Appliances" %}
              <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:100px;height:100px;"></a>
          {% elif row["category"] == "Books" %}
              <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:100px;height:100px;"></a>
          {% elif row["category"] == "Home and Kitchen" %}
              <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:100px;height:100px;"></a>
          {% elif row["category"] == "Electronics" %}
              <a href="/item?product_ID={{ row[2] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:100px;height:100px;"></a>
          {% else %}
              <a href="/item?product_ID={{ row[2] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:100px;height:100px;"></a>
          {% endif %}
      </td>
      <td><a href="/item?product_ID= {{ row[2] }}">{{row[1]}}</a></td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>
          <form method = "post">
              <input type="hidden" name="product_ID" value={{ row[2] }}>
              <button type="submit"  class="tablebutton"
                  value="Delete" formaction="remove_seller_item">Remove Item</button>
          </form>
      </td>

  </tr>
  {% endfor %}
</table>

<br>
<span> <a href="/logout">Log out</a></span>
</br>

{% endblock %}
