{%extends 'base.html' %}

{% block head %}
<title>Sign-Up</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}

    <div class="container">
      <h1>Please sign-up</h1>
      <form action="" method="post">
    Username:<br> <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"required/>
          <br>
    First Name: <br>
    <input type="text" placeholder="First name" name="firstName" value="{{
          request.form.firstname }}"required/>
            <br>
            Last Name: <br>
    <input type="text" placeholder="Last Name" name="lastName" value="{{
              request.form.lastname }}"required/>
                <br>
                Email: <br>
    <input type="email" placeholder="Email" name="email" value="{{
          request.form.email }}"required/>
            <br>
            Street Address: <br>
    <input type="text" placeholder="Street Address" name="streetAddress" value="{{
            request.form.streetAddress }}"required/>
              <br>
              City: <br>
    <input type="text" placeholder="City" name="city" value="{{
                request.form.city }}"required/>
                  <br>
                  Postal Code: <br>
    <input type="text" placeholder="Postal Code" name="zip" value="{{
                    request.form.zip }}"required/>
                      <br>
                      State: <br>
    <input type="text" placeholder="State" name="state" value="{{
                        request.form.state }}"required/>
                        <br>
                        Password: <br>
    <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"required/>
            <br>
            User Type: <br>
          <select name = role>
                  <option value = "Buyer" name = "buyer"> Buyer </option>
                  <option value = "Seller" name = "seller"> Seller </option>
          </select>
            <br>
        <input class="btn btn-default" type="submit" value="Sign Up">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}
