{%extends 'base.html' %}

{% block head %}
<title>Your Trade History</title>
{% endblock %}
<br>
<a href="/">Return to Main</a><br><br>
<a href="/seller">Return to Seller</a><br><br>


{% block body %}
    <h1>Trade History</h1>
    <table border = 5>
        <thead>
            <th>Item Image</th>
            <th>Item Name</th>
            <th>Product ID</th>
            <th>Buyer Name</th>
            <th>Price</th>
            <th>Quantity Purchased</th>
            <th>Cost</th>
            <th>Remaining Inventory</th>
            <th>Date/Time</th>
        </thead>

    {% for row in rows %}
        <tr>
            <td>
                {% if row["category"] == "Appliances" %}
                    <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/256608-200.png" alt = "Appliances" style="width:100px;height:100px;"></a>
                {% elif row["category"] == "Books" %}
                    <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/903345-200.png" alt = "Books" style="width:100px;height:100px;"></a>
                {% elif row["category"] == "Home and Kitchen" %}
                    <a href="/item?product_ID={{ row[2] }}"><img src = "https://static.thenounproject.com/png/132442-200.png" alt = "Home and Kitchen" style="width:100px;height:100px;"></a>
                {% elif row["category"] == "Electronics" %}
                    <a href="/item?product_ID={{ row[2] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_415795.png" alt = "Electronics" style="width:100px;height:100px;"></a>
                {% else %}
                    <a href="/item?product_ID={{ row[2] }}"><img src = "https://cdn.onlinewebfonts.com/svg/img_569713.png" alt = "Clothing Shoes and Jewelry" style="width:100px;height:100px;"></a>
                {% endif %}
            </td>
            <td><a href="/item?product_ID={{ row[2] }}">{{ row[1] }}</a></td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
        </tr>
    {% endfor %}
    </table>


    <br>
    <h2 id="msgtext">{{ msg }}</h2>

{% endblock %}
