{%extends 'base.html' %}

{% block head %}
<title>User</title>
{% endblock %}

<a href="/">Return to Main</a><br><br>

{% block body %}
<div class="container">
<h1> {{ userProf[0][0] }} Information </h1>
<table class="mytable" style="width:700px" border = 6>
    <thead>
        <td>Username</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Email</td>
        <td>Balance</td>
      </thead>

{% for item in userProf %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>

    </tr>
    {% endfor %}
</table>
<br>
<span> <a href="/balance"> Add Balance</a>
<br>


<table class="mytable" style="width:700px" border = 4>
          <thead>
            <td>Address</td>
            <td>City</td>
            <td>ZIP code </td>
            <td>State</td>
        </thead>

            {% for item in userProf %}
            <tr>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
            </tr>
            {% endfor %}
</table>
<br>
<span> <a href="/editUser">Edit User Information</a>
<br>
<h1> Purchase History</h1>

<table class="mytable" style="width:900px" border = 4>
  <thead>
      <td>Purchase Time</td>
      <td>Product ID</td>
      <td>product Name</td>
      <td>Product Price</td>
      <td>Quantity Ordered</td>
  </thead>
  {% for item in printData %}
  <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
  </tr>
  {% endfor %}
</table>

<br>
<span> <a href="/logout">Log out </a></span>
</br>
</div>

{% endblock %}
