body {
    background-color: #f4f4f4;
    color:#555;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:100%;
    margin-left: 20px;
    overflow:hidden;
}

.left-column-1{
    float:left;
    width:20%;
    padding-right: 1em;
}

.right-column-wide{
    float:center;
    width:70%;
    margin:auto;
    padding-left: 0.5em;
}

#main-header{
    background-color:#0e152e;
    color:#fa0;
}

#searchbar{
    padding-top: 1.3em;
}

#searchbar input[type="text"]{
    margin-right: 0px;
    width:50%;
}

#searchbar input[type="submit"]{
    margin-left: 0px;
}

#navbar{
    background-color: #232f3e;
    color:#fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover{
    color:#fa0;
}

.mytable {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 30px;
    margin-left: 40px;
}

.mytable th {
    padding-top: 1px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #339898;
    color: white;
}

.mytable td, .mytable th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-align: left;
}

.mytable tr:nth-child(even){background-color: #ffffff;}

.mytable tr:hover {background-color: #ddd;}

.tablequantitybox {width:35px; height:20px}

.tablebutton {
    background-color: #339898;
    border: 2px solid #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 25px
    font-size: 10px;
}

.tableimg {
    display: block;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

#msgtext {
    font-family: Helvetica, sans-serif;
    margin-left: 40px;
}
